/*
.container {
    max-width: 600px;
}
*/
body{

    height:100%;
    width:100%;
}
.container {
    z-index: 3;
    position: relative;
}
.full-height{
    height: 100vh;
}
.background{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: url('triangular.png');
    z-index: 1;
    opacity: 0.8;
}
.filter{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
}
.main-font{
    font-family: 'Rokkitt';
    color: #e74c3c;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.main-font strong{

}

.absolute-parent{
    position: relative;
}
.absolute-center{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    height: 200px;
    margin: auto;
}
.narrow{
    max-width: 320px;
    width: 100%;
}